{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h2>Admin - nadzorna plošča</h2>
<br />
<hr />
<a href="{{ path('_admin_products') }}"><h4>Urejanje izdelkov</h4></a><br />
<a href="{{ path('_admin_categorys') }}"><h4>Urejanje kategorij</h4></a><br />
<a href="{{ path('_admin_images') }}"><h4>Urejanje Galerije</h4></a><br />
<a href="{{ path('_admin_ads') }}"><h4>Urejanje Oglasev</h4></a>

{% endblock %}
