{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block content %}


<table id="contact">
    <tr>
        <td>
            <div style="margin-top: 50px;">
            <h1 style="text-shadow: none;">Kontakt</h1>
            <b>DAMA IN POTEPUH, Nina Grabnar s.p.</b><br />
            Dolenska cesta 149<br />
            1000 Ljubljana<br />
            Slovenija
            </p>
            <p> 
                Telefon:    <br />
                GSM: +386 70 852 660<br />
                GSM: +386 41 247 294<br />
                email:<a href="mailto:info@damainpotepuh.si"> info@damainpotepuh.si</a>
            </p> 
            </div>
        </td>
        <td style="padding-left: 100px;">
            <h2>Kje smo?</h2>
            <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                    src="https://maps.google.com/maps?q=Dolenska+cesta+149&amp;ie=UTF8&amp;hl=en&amp;hq=Dolenska+cesta+149&amp;hnear=&amp;t=h&amp;ll=46.021352,14.541746&amp;spn=0.006295,0.006295&amp;output=embed">
            </iframe><br />
            <small>
                <a href="https://maps.google.com/maps?q=Dolenska+cesta+149&amp;ie=UTF8&amp;hl=en&amp;hq=Dolenska+cesta+149&amp;hnear=&amp;t=h&amp;ll=46.021352,14.541746&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left">Prikaži večji zemljevid</a></small>
        </td>
    </tr>
</table>

{% endblock %}
