{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Galerija{% endblock %}

{% block content %}
<h2>Galerija</h2>

<table class="galery">
    {% for image in images %}
    <tr>
      <td><img src="{{ asset('galery/')}}{{image.path }}" alt="slika" /></td>
      <td><span class="description">
          {{ image.description|length > 50 ? image.description|slice(0, 50) ~ '...' : image.description }}
          </span>
      </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
