{% for subcategory in subcategorys %}
    <ul>
        <li>
            <a href="{{ path('_product_subcategory', 
                            {'categoryName': subcategory.category,
                            'subcategoryName': subcategory.subcategory}) }}">
                {{ subcategory.subcategory }}
            </a>
        </li>
    </ul>
{% endfor %}
