{% for subcategory in subcategorys %}
    <ul>
        <a href="{{ path('_product_subcategory', 
                            {'categoryName': subcategory.category,
                            'subcategoryName': subcategory.subcategory}) }}">
        <li>{{ subcategory.subcategory }}</li>
        <hr />
        </a>
    </ul>
{% endfor %}
