{% extends 'damainpotepuhStaticBundle::layout.html.twig' %}

{% block title %}Oglasi{% endblock %}

{% block content %}
<h2>Oglasi</h2>
<form class="ad_form" action="{{ ad.id ? path('_admin_edit_ad', {'id': ad.id}) : path('_admin_add_ad') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <input type="submit" name="save" value="Shrani" class="btn btn-primary">
    <!--/div-->
</form>

{% endblock %}
